<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="email">email</label>
    <input
      id="email"
      name="email"
      type="email"
      [(ngModel)]="model.email"
      #email="ngModel"
      required
      minlength="5"
      maxlength="30"
    />
  </fieldset>

  <!-- Message d'erreurs de title -->
  <div *ngIf="email.errors && myForm.submitted">
    <span *ngIf="email.errors?.['required']">L'email est requis</span>
    <span *ngIf="email.errors?.['minlength']"
      >La longueur minimale doit être supérieure à 5</span
    >

    <span *ngIf="email.errors?.['email']">Doit être au format email</span>"

    <span *ngIf="email.errors?.['maxlength']"
      >Ne doit pas contenir plus de 15 caractères</span
    >
  </div>

  <fieldset>
    <label for="firstname-user">firstname</label>
    <input
      id="firstname-user"
      name="firstname-user"
      [(ngModel)]="model.firstname"
      #firstname="ngModel"
      type="text"
      required
    />
  </fieldset>

  <!-- Message d'erreurs de quantity -->
  <div *ngIf="firstname.errors && myForm.submitted">
    <span *ngIf="firstname.errors?.['required']"
      >Le champ firstname est requis</span
    >
    <span *ngIf="firstname.errors?.['minlength']"
      >La longueur minimale doit être supérieure à 5</span
    >
  </div>

  <fieldset>
    <label for="lastname-user">lastname</label>
    <input
      id="lastname-user"
      name="lastname-user"
      type="lastname-user"
      [(ngModel)]="model.lastname"
      #lastname="ngModel"
      required
    />
  </fieldset>

  <!-- Message d'erreurs de date -->
  <div *ngIf="lastname.errors && myForm.submitted">
    <span *ngIf="lastname.errors?.['required']"
      >Le champ lastname est requis</span
    >
    <span *ngIf="firstname.errors?.['minlength']"
      >La longueur minimale doit être supérieure à 2</span
    >
  </div>

  <fieldset>
    <label for="password-user">password</label>
    <input
      id="password-user"
      name="password-user"
      type="text"
      [(ngModel)]="model.password"
      #password="ngModel"
      required
      email
    />
  </fieldset>

  <!-- Message d'erreurs de contact -->
  <div *ngIf="password.errors && myForm.submitted">
    <span *ngIf="password.errors?.['required']"
      >Le champ password est requis</span
    >
    <span *ngIf="password.errors?.['minlength=3']"
      >Doit contenir au moins 3 caractères</span
    >
  </div>
  <div *ngIf="email.errors && myForm.submitted">
    <span *ngIf="email.errors['required']">Le champ mail est requis</span>
    <span *ngIf="email.errors['email']">L'adresse mail doit être valide</span>
    <span *ngIf="email.errors?.['minlength']"
      >Doit contenir au moins 3 caractères</span
    >
  </div>
  <button type="reset">Restaurer</button>
  <button type="submit">S'enregister</button>

  <div class="formContainer" *ngIf="showInfos">
    <p>Your informations:</p>
    <div>
      <div>Firstname: {{ user.firstname }}</div>
      <div>Lastname: {{ user.lastname }}</div>
      <div>Email: {{ user.email }}</div>
    </div>
  </div>
</form>
