<h1>{{ title }}</h1>

<ul *appShowContent="showList">
  <li appLi1>The Godfather</li>
  <li>The Lord Of the Ring trilogy</li>
  <li>Stars Wars: Revanche of the siths</li>
  <li>Pulp Fiction</li>
  <li>Save Private Ryan</li>
  <li>The Good, the Bad and The Ugly</li>
</ul>
<!-- <button click></button> -->
<!-- 
//Le but de ce challenge est de créer une liste de films (tu peux t'inspirer de celle-ci), dont l'affichage dépend de deux directives.

On veut que le premier élément de ta liste change de style au survol. Pour cela, crée une nouvelle classe CSS (qui définit une couleur et une taille de texte, par exemple), puis applique-la à ton élément HTML via une custom attribute directive de ton cru.
Crée une custom structural directive qui autorise l'affichage de la liste uniquement si une variable showMovies a la valeur true.
Poste le lien vers ton repository en guise de solution. -->
